@font-face {
   font-family: '標楷體';
   font-display: swap;
   src: url('file:///C:/Users/USER/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-03-16_100215/fonts/%E6%A8%99%E6%A5%B7%E9%AB%94/font.ttf');
}
